<!DOCTYPE html>

<h1>Display your Pirate here</h1>
<div class="pirate">
<p>Name: <%= pirate.name %> is a true Pirate's name!</p></br>
<p>Weight:<%= pirate.weight %> stone? You hide it well!</p></br>
<p>Height:<%= pirate.height %> crates'o rum!</p></br>
</div></br>

<h2>Display your first ship here</h2>
<div class="ship">
<p>Name: <%= ships[0].name %> a name fit for a pirate's ship aarrgggg!</p></br>
<p>Type: <%= ships[0].type %> a good type for such a journey!</p></br>
<p>Booty:<%= ships[0].booty %> what a plunder!</p></br>
</br>

<h3>Display your second ship here</h3>

<p>Name: <%= ships[1].name %> a name fit for a pirate's ship aarrgggg!</p></br>
<p>Type: <%= ships[1].type %> a good type for such a journey!</p></br>
<p>Booty:<%= ships[1].booty %> what a plunder!</p></br>
</div>